extends layout

block lobby-panel

    div.lobby-wrapper.panel#lobbyPanel
        h2.lobby-title.text-center.flicker1 Lobby
        form.room-actions(method="POST" action="/room")
            div.room-options
                label.private-room
                    span Priv
                    input#privateRoom(type="checkbox" name="private")
                select#selectDuration(name="duration")
                    option(value="120" selected) 2m
                    option(value="300") 5m
                    option(value="600") 10m
                select#selectMode(name="mode")
                    option(value="1vs1" selected) 1v1
                    option(value="2vs2") 2v2
                    option(value="3vs3") 3v3
                    option(value="practica") Practica
                select#selectBall(name="ball")
                    option(value="texture-1" selected) Txt1
                    option(value="texture-2") Txt2
                    option(value="texture-3") Txt3

            button.btn.btn-primary.w-100(type="submit")
                i.bi.bi-plus-square
                span Crear sala

        div.room-join-by-id

        div.room-list
            h3.lobby-title.text-center Salas
            div#rooms
                p.text-center No hay salas disponibles

block main
    //- Mensaje de rotación (solo visible en portrait mode)
    div.rotate-message
        i.bi.bi-phone-landscape.flicker2
        h2.flicker1 Gira tu dispositivo
        p Para una mejor experiencia de juego.

    //- Botones hamburguesa (solo visibles en móvil/tablet landscape)
    button.hamburger-btn.left#lobbyToggle(aria-label="Toggle Lobby")
        i.bi.bi-card-list
    button.hamburger-btn.right#userToggle(aria-label="Toggle User Panel")
        i.bi.bi-person-square

    div.overlay#overlay

    div.main-wrapper.panel
        h1.main-title.text-center.flicker Snake Soccer
        div#scoreboard
            div#score 0 - 0
            div#timer 00:00
        div.canvas-wrapper
            canvas#gameCanvas

block user-panel
    div.user-wrapper.panel#userPanel
        h2.user-title.flicker2 #{user.username}
        div.experience-container
            div.experience-bar-background
                div#xpBarFill
            p.experience-text
                span#statXp 0 / 0
        div.nav-list
            if user && user.role === 'admin'
                div.nav-item
                    a.btn.btn-primary.nav-link.w-100(href="/tasks")
                        i.bi.bi-list-task
                        span Tareas
            if user
                div.nav-item
                    form(method="POST", action="/logout")
                        button.btn.leave-btn.nav-link.w-100(type="submit")
                            i.bi.bi-door-closed
                            span Salir

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/lobbyUI.js")